<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <div class="text-center">
    <h1 class="text-9xl font-extrabold text-skobeloff">404</h1>
    <p class="text-2xl font-semibold text-gray-700 mt-4">
      Oops! The page you're looking for doesn't exist.
    </p>
    <p class="text-gray-500 mt-2">
      You might have mistyped the URL or the page has been moved.
    </p>

    <div class="mt-6">
      <a
        routerLink="/home"
        class="px-6 py-3 bg-mint text-white font-semibold rounded-lg shadow-md hover:bg-blue-munsell transition-all duration-300"
      >
        Go Home
      </a>
    </div>
  </div>
</div>
