<div class="flex justify-center items-center min-h-screen custom-bg">
  <div class="w-full max-w-sm rounded-2xl shadow-lg bg-white/10 backdrop-blur-xl p-6">
    <img
      src="assets/logo.png"
      alt="Market Connect Logo"
      class="w-60 mx-auto mb-6"
    />
    <h1 class="text-4xl font-bold mb-4 text-center">
      <span class="bg-clip-text text-transparent bg-gradient-to-br from-mint via-turquoise to-skobeloff">
      Market Connect
      </span>
    </h1>
    <h2 class="text-2xl font-bold text-center text-skobeloff mb-4">Sign Up</h2>

    <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="space-y-4">
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700">Full Name</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2"
          [ngClass]="{
            'border-red-500': signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched,
            'focus:ring-mint': signUpForm.get('name')?.valid
          }"
        />
        <p *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched" class="text-red-500 text-sm">
          {{ signUpForm.get('name')?.hasError('required') ? 'Name is required' : 'Must be at least 3 characters' }}
        </p>
      </div>

      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2"
          [ngClass]="{
            'border-red-500': signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched,
            'focus:ring-mint': signUpForm.get('email')?.valid
          }"
        />
        <p *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched" class="text-red-500 text-sm">
          {{ signUpForm.get('email')?.hasError('required') ? 'Email is required' : 'Invalid email format' }}
        </p>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2"
          [ngClass]="{
            'border-red-500': signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched,
            'focus:ring-mint': signUpForm.get('password')?.valid
          }"
        />
        <p *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched" class="text-red-500 text-sm">
          {{ signUpForm.get('password')?.hasError('required') ? 'Password is required' : 'Must be at least 6 characters' }}
        </p>
      </div>

      <div>
        <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm Password</label>
        <input
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2"
          [ngClass]="{
            'border-red-500': signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched,
            'focus:ring-mint': signUpForm.get('confirmPassword')?.valid
          }"
        />
        <p *ngIf="signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched" class="text-red-500 text-sm">
          Confirm Password is required
        </p>
      </div>

    <div>
        <label for="role" class="block text-sm font-medium text-gray-700">Role</label>
        <select
            id="role"
            formControlName="role"
            class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2"
            [ngClass]="{
                'border-red-500': signUpForm.get('role')?.invalid && signUpForm.get('role')?.touched,
                'focus:ring-mint': signUpForm.get('role')?.valid
            }"
        >
            <option value="" disabled>Select your role</option>
            <option value="customer">Customer</option>
            <option value="merchant">Merchant</option>
            <option value="affiliate">Affiliate</option>
        </select>
        <p *ngIf="signUpForm.get('role')?.invalid && signUpForm.get('role')?.touched" class="text-red-500 text-sm">
            Role is required
        </p>
    </div>

      <p *ngIf="errorMessage()" class="text-red-500 text-sm text-center">{{ errorMessage() }}</p>

      <button type="submit" class="w-full bg-mint text-white p-2 rounded-lg hover:bg-skobeloff transition" [disabled]="signUpForm.invalid">
        Sign Up 
        <span *ngIf="loading()" class="loader"></span>
      </button>
    </form>

    <p class="text-center text-sm mt-4">
      Already have an account?
      <a routerLink="/login" class="text-blue-munsell hover:underline">Login</a>
    </p>
  </div>
</div>
