<div class="w-full">
  <!-- Hero Section -->
  <section
    class="custom-bg text-center py-20 px-5 min-h-screen grid place-content-center"
  >
    <div
      class="hero-card bg-white/10 backdrop-blur-xl p-10 rounded-lg shadow-lg"
    >
      <img
        src="assets/logo.png"
        alt="Market Connect Logo"
        class="w-60 mx-auto mb-6"
      />
      <h1 class="text-4xl font-bold mb-4">
        Welcome to
        <span
          class="bg-clip-text text-transparent bg-gradient-to-br from-mint via-turquoise to-skobeloff"
        >
          Market Connect
        </span>
      </h1>
      <p class="text-lg mb-6">Discover amazing products from top merchants.</p>
      <div class="flex justify-center space-x-4">
        <a
          routerLink="/signup"
          class="bg-mint text-black px-6 py-2 rounded-lg font-semibold hover:bg-skobeloff transition"
        >
          Sign Up
        </a>
        <a
          routerLink="/login"
          class="bg-blue-munsell px-6 py-2 rounded-lg font-semibold hover:bg-turquoise transition"
        >
          Login
        </a>
      </div>
    </div>
  </section>